version: "3.9"

services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: mattilda
      POSTGRES_PASSWORD: mattilda
      POSTGRES_DB: mattilda_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  web:
    build: .
    environment:
      DATABASE_URL: postgresql://mattilda:mattilda@db:5432/mattilda_db
    ports:
      - "8000:8000"
    depends_on:
      - db

volumes:
  postgres_data:
